<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        textarea{
            width: 100%;
            height: 200px;
        }
    </style>
</head>
<body>
    <label>my token</label>
    <textarea id="txtToken" ></textarea>
    <button id="btninit">init</button>
    <label>your friend token</label>
    <textarea id="txtTokenyour" ></textarea>
    <button id="btnsend"> click send</button>
   
    <video autoplay id="localStream" controls></video>

    <script src="main.js"></script>

</body>
</html>